.dropdown-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.dropdown-header input {
    margin-left: 10px;
}

.dropdown-divider {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content {
    padding-top: 10px;
    color: rgb(70, 69, 69);
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.done-button {
    display: block;
    width: 100%;
    background-color: #fac126;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(70, 69, 69);
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}

span {
    color: rgb(70, 69, 69);
}

