.dropdown-container {
    width: 100%;
    max-width: 500px;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px auto;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.dropdown-header input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.dropdown-divider {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content {
    padding-top: 10px;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.dropdown-item label {
    font-size: 18px;
}

span {
    font-size: 18px;
}

.dropdown-item input {
    width: 20px;
    height: 20px;
}

.done-button {
    display: block;
    width: 100%;
    background-color: #ffce00;
    border: none;
    padding: 15px 0;
    font-size: 18px;
    color:black;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .dropdown-container {
        padding: 20px;
    }
}

